<%- include('partials/dashboardHeader') -%>
<link rel = 'stylesheet' href = 'css/goals.css'>

<section class = 'goalsBody'>
    <h1 id = 'plans'>
        Achieve Your Dreams with Our Financial Goals Setting Page!
    </h1>
    <p id = 'welcomeP'>
        Welcome to the Financial Goals Setting Page! Here, you can define and track your 
        financial aspirations, whether it's saving for a dream vacation, buying a new home, or planning for your kids future. 
        Our intuitive interface allows you to set specific goals and monitor your progress.
    </p>
    <div class="grid-container">
        <div class="grid-item">
            <a href="/goals/1">
                <h3>
                    <i class="fa-solid fa-briefcase"></i>
                      Start a Business
               </h3>     
            </a> 
        </div>
        <div class="grid-item">
            <a href="/goals/2">
                <h3>
                    <i class="fa-solid fa-house"></i>
                      Buy a New Home
               </h3>     
            </a>    
        </div>
        <div class="grid-item">
            <a href="/goals/3">
                <h3>
                    <i class="fa-solid fa-graduation-cap"></i>
                      Save For School
               </h3>     
            </a> 
        </div>
        <div class = 'grid-item' id ="dream-vacation">    
            <a href="/goals/4">
               <h3>
                <i class="fa-solid fa-plane-departure"></i>
                      Save for a Dream Vacation
               </h3>
            </a>
       </div>
        
        <div class="grid-item">
            <a href="/goals/5">
                <h3>
                    <i class="fa-solid fa-children"></i>
                     Kids
               </h3>     
            </a> 
        </div>
        <div class="grid-item">
            <a href="/goals/6">
                <h3>
                    <i class="fa-solid fa-person-shelter"></i>
                     Save for Rent
               </h3>     
            </a> 
        </div>
    </div>
</section>