<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Gentium+Plus:ital,wght@0,400;0,700;1,400;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap')
        </style>
    <link href = 'css\index.css' rel = "stylesheet">
    <title>FiscallySmart AI</title>

</head>
<body>
   

    <nav class = 'nav'>
        <a class = 'header' href = '/'><span><i class="fa-solid fa-chart-pie"></i></span> FiscallySmart AI</a>
        <div>
            <a class = 'login' href = '/login'><i class="fa-solid fa-right-to-bracket"></i>Log In</a>
        </div>
    </nav>
   
    <section class = 'page'>        
        <div>
          <h3>
            Empower your financial decisions with comprehensive insights 
            driven by <br> Artificial Intelligence.
          </h3>
          <p>FiscallySmart AI is a comprehensive virtual stock trading platform that combines 
            simulated trading with AI-driven insights, 
            financial news, and educational resources.
          </p>

          <a class = 'getStarted' href = '/signup'>Get Started for free <i class="fa-solid fa-arrow-right"></i></a>
        </div>
        <img src = 'img/cover.svg'>
    </section>

    <section class = 'feature'>
      <img src = 'img/landing.webp'>
      
      <div class = 'info'>
        <div>
          <center><i class="fa-solid fa-brain"></i></center>
          <center><h3>AI-driven Financial Analysis and Prediction</h3></center>
          <p>Our AI system leverages machine learning algorithms and predictive models to 
            assist in generating personalized investment recommendations 
            tailored to the user's objectives and risk profile.
          </p>
        </div>

        <div>
          <center><i id = 'news' class="fa-solid fa-chart-simple"></i></center>
          <center><h3>Real Time Market Data </h3></center>
          <p>Keep yourself informed about the latest economic indicators that can 
            contribute to your financial journey. 
            Our system ensures that you stay updated on current economic developments worldwide
          </p>
        </div>

        <div>
          <center><i id ='edu' class="fa-solid fa-pen-to-square"></i></center>
          <center><h3>Educational Resources and Content</h3></center>
          <p> Educational resources and insightful articles covering a wide array of investment topics are
             seamlessly integrated into the system, 
            providing users with comprehensive knowledge and valuable insights
          </p>
        </div>
        
      </div>
    </section>

    <footer>
    <p>&copy; FiscallySmart AI 2024.</p>
    <div>
      <a href="mailto:moh.odejimi@gmail.com?subject=Feedback%20on%20FiscallySmart AIe&body=Hello%20Moh,"><i class="fa-solid fa-envelope"></i></a>
      <a href = 'https://www.linkedin.com/in/mohodejimi/'><i class="fa-brands fa-linkedin"></i></a>
      <a href = 'https://github.com/MohOdejimi'><i class="fa-brands fa-github"></i></a>
      <a href = 'https://twitter.com/MohOdejimi'><i class="fa-brands fa-x-twitter"></i></a>
      </div>
    </footer>
    <script src = 'js\client.js'></script>
</body>
</html>