<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = 'stylesheet' href = 'css/login.css'>
    <link href = 'css\index.css' rel = "stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Gentium+Plus:ital,wght@0,400;0,700;1,400;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap')
      </style>
    <title>FiscallySmart AI</title>
</head>
<body>
  <nav class = 'nav'>
        <a class = 'header' href = '/'><span><i class="fa-solid fa-chart-pie"></i></span> FiscallySmart AI</a>
        <div>
            <a class = 'login' href = '/login'><i class="fa-solid fa-right-to-bracket"></i>Log In</a>
        </div>
    </nav>

   <div class = 'divBody'>
    <form action="/login" method="POST">
      <div class = 'caption'>
        <h3>Hi, Welcome Back</h3>
        <p>Log in to continue to your Dashboard</p>
      </div>
      
     
      <% if (errors && errors.length) { %>
        <div class="error-container">
          <% errors.forEach(error => { %>
            <p class="error"><%= error.msg %></p>
          <% }); %>
        </div>
      <% } %>
   



  <div class="mail input-container">
    <input
      type="email"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      name="email"
      placeholder="Email"
    />
  </div>
  <div class="password input-container">
    <input
      type="password"
      class="form-control"
      id="exampleInputPassword1"
      name="password"
      placeholder="Password"
    />
  </div>
  <div>
    <button type="submit">Log in</button>
  </div>
  <p>Don't have an account? <a href="/signup">Create account <i class="fa-solid fa-arrow-right"></i></a></p> 
</form>
</div>
    

<script src = 'js\client.js'></script>
</body>
</html>