<!-- dashboard header -->
<%- include('partials/dashboardHeader') -%>
<link rel = 'stylesheet' href="css\news.css">
<main id="mainContainer">
    <section class ='searchBar'>
        <h2>Get the latest news on your favourite stocks!</h2>
        <div class = 'searchDiv'>
            <input type = text class = 'userInput' placeholder="Type a ticker, e.g, TSLA">
            <button id = 'submitBtn' type = 'submit'><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
    </section>

    <section id = 'headline'>

    </section>

    <section id = 'articleContainer'>
         
    </section>
    
</main>


<script src = 'js\news.js'></script>