<link rel="stylesheet" href="/css/stock.css">
<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
<link rel = 'stylesheet' href="/css/dashboard.css">

<%- include('partials/dashboardHeader') -%>

<section class='body'>
    <section class = 'stockContent'>
        <h2 class = 'stockHeadline'>What is a Stock?</h2>
        <div class = 'definition'>
            <p>Definition: </p>
            <p>A stock is essentially a tiny piece of ownership in a company. 
                When a company decides to raise money by selling pieces of itself, 
                those pieces are called stocks or shares. 
                People who buy stocks are called shareholders. Stocks provide a route for 
                people of different economic backgrounds to invest, potentially accumlating returns 
                and growing their wealth if the perfomance metrics of the company 
                improves.    
            </p>
        </div>
        <div class = 'understandingStocks'>
            <h2>Understanding Compaines and Stocks</h2>
            <p class = 'understandingCompanies'>Companies can be categorized into two based on accessibility to investors: 
                public and pivate. Public companies raise capital by selling shares to the public, 
                allowing anyone to invest. They are more heavily regulated and have stricter requirements.
                Examples: Apple, Alphabet, Tesla. 
                Private companies raise capital from a select group of 
                investors and their shares are not traded on public exchanges. 
                Funding may come from founders, venture capitalists, or bank loans. 
                They have more flexibility but less access to capital. Examples: Many startups, LLCs.</p>
            <h2>The Concept of Shares and Ownership in a Company</h2>  
            <p>Shares are units of ownership interest in a company. 
                When a company issues shares, it is essentially selling a portion 
                of itself to raise capital for its expenses. Each share issuesd by the company represents 
                a fraction of the company’s equity 
                and entitles the holder to certain rights and privileges.</p>
            <p>Shares can be grouped into two divisions based on the rights and claims that are ascribed 
                to its holders. 
            </p> 
            <ol id ='list'>
                <li>Common Shares:</li>
                <ul>
                    <li>Provide voting rights to shareholders.</li>
                </ul>
                <li>Preferred Shares: </li>
                <ul>
                    <li>Typically do not provide voting rights.</li>
                </ul>
            </ol>
          <div class = 'ownership'>
            <p>Ownership Structure: </p>
            <p>
                Ownership in a company is determined by the number of shares held by an individual or entity. 
                For example, if a company has issued 1,000 shares and you own 100 of them, you own 10% of the company.
            </p>
          </div>
        </div>
        <div class = 'typesofStocks'>
            <h2>Types of Stocks and Investing Styles</h2>
            <p>Understanding the different types of stocks is crucial for making informed investment decisions. 
                Stocks can be categorized based on various criteria such as the size of the company, 
                the growth potential, the level of risk, and the dividends they offer.
            </p>
            <ol id ='list'>
                <li>Common Stocks:</li>
                <ul>
                    <li>Represent ownership in a company and a claim on a portion of profits.</li>
                    <li>Dividends are variable and not guaranteed.</li>
                </ul>
                <li>Preferred Stocks: </li>
                <ul>
                    <li>Have a higher claim on assets than common stocks in the event of liquidation.</li>
                    <li>Offer a fixed dividend that is paid out before any dividends on common stocks.</li>
                </ul>
                <li>Growth Stocks: </li>
                <ul>
                    <li>Issued by companies expected to grow at an above-average rate compared to other companies.</li>
                    <li>Often reinvest profits back into the company rather than paying dividends.</li>
                </ul>
                <li>Value Stocks: </li>
                <ul>
                    <li>Often have lower P/E ratios and higher dividend yields.</li>
                    <li>Attract investors looking for bargains and potential long-term gains.</li>
                </ul>
                <li>Dividend Stocks: </li>
                <ul>
                    <li>Issued by companies that regularly distribute a portion of their profits as dividends.</li>
                    <li>Provide a steady income stream.</li>
                </ul>
                <li>Blue-Chip Stocks: </li>
                <ul>
                    <li>Issued by large, well-established, and financially sound companies.</li>
                    <li>Known for their reliability and strong performance over time.</li>
                </ul>
            </ol>
            <div class = 'investStyles'>
                <p>
                    Investors can approach the stock market with different strategies based on their goals, 
                    risk tolerance, and time horizon. Here are some common investing styles you can 
                    implement in your investment journey:
                </p>
            </div>
            <ol id ='list'>
                <li>Value Investing:</li>
                <ul>
                    <li>Focuses on buying undervalued stocks with strong fundamentals</li>
                    <li>Investors look for stocks trading below their intrinsic value.</li>
                </ul>
                <li>Growth Investing:</li>
                <ul>
                    <li>Focuses on companies expected to grow at an above-average rate.</li>
                    <li>Investors prioritize capital appreciation over dividends.</li>
                </ul>
                <li>Growth Investing:</li>
                <ul>
                    <li>Focuses on companies expected to grow at an above-average rate.</li>
                    <li>Investors prioritize capital appreciation over dividends.</li>
                </ul>
                <li>Income Investing:</li>
                <ul>
                    <li>Focuses on stocks that provide regular income through dividends.</li>
                    <li>Suitable for investors seeking a steady income stream.</li>
                </ul>
                <li>Day Trading:</li>
                <ul>
                    <li>Involves buying and selling stocks within a single trading day.</li>
                    <li>Focuses on short-term price movements.</li>
                </ul>
            </ol>
        </div>
        <div class = 'takeaway'>
            <h2>Takeaway</h2>
            <p>
                Investing in stocks offers a dynamic way to grow your wealth and participate in the 
                success of various companies. By understanding the different types of stocks and the
                various investing styles, you can make more informed and strategic investment decisions.
                 Remember, investing in stocks carries risks, but with thorough research and a clear 
                 strategy, you can manage those risks and potentially achieve significant returns.
            </p>
        </div>
        <p class = 'quiz'><a href = '/quiz/stocks'><span>Take Quiz</span></a></p>
    </section>     
</section>

<script src="/js/client.js"></script>
<script src="/js/learn.js"></script>
